* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

aside {
  flex: 2%;
  background: #1a273a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: #ebf4dd;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

aside .main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

aside .main-menu .logo  img {
  height: 80px;
}

aside .main-menu div,
aside .logout {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

aside div i {
  font-size: 30px;
} 

aside div p {
  text-transform: capitalize;
}

main {
  flex: 98%;
  padding: 20px;
  margin-left: 120px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

main .feed {
  flex: 65%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

main .trending {
  flex: 35%;
  background: #fff1c26a;
  border-radius: 20px;
  padding: 20px;
}

/*  modal styles */
.new-post-modal, .profile-modal, .logout-modal {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 86, 148, 0.5);
  backdrop-filter: blur(4);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999;
  display: none;
}

.new-post-modal.show, .profile-modal.show, .logout-modal.show {
  display: flex;
}

.new-post-modal .post-content, .profile-modal .modal-content, .logout-modal .logout-content {
  width: 30vw;
  height: 80vh;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

